.iconic-was-swatches{
    padding-left:0px!important;
}

.product-gallery-custom{
    .et_pb_gallery_item{
        margin-right: 3.5%!important;
        width: 22.35%!important;

        &.last_in_row{
            margin-right: 0px!important;
        }
    }
}


.flex-control-thumbs li {
    margin-bottom: 34px!important;
  }


.woocommerce div.product div.images .flex-control-thumbs li{
    width:25%;
    margin-right: 0;
}

@media screen and (min-width:993px){
    .woocommerce div.product div.images .flex-control-thumbs{
        width: 100px;
        position: absolute;
        top: 0;
        left: -140px;
    }

    .woocommerce div.product div.images .flex-control-thumbs li{
        width:100%!important;
        //margin-right: 30px;
    }
    
}

.pac_dth_taxonomies, .pac_dth_taxonomy_inner{
    overflow: hidden!important;
}


